<header>
  <div class="header-wrapper">
    <div class="logo"></div>
    <%= render partial: "root/header", locals: { user: current_user } %>
  </div>
</header>

<div class="content">
  <div class="left-sidebar">
    <ul class="messaged-friends-list">
      <% @messaged_friends_with_thread.each do |pair| %>
        <% friend = pair[0] %>
        <% thread = pair[1] %>
        <li>
          <a href="<%= user_message_thread_url(current_user, thread) %>">
            <div class="user-img">
              <%= image_tag friend.profile.profile_img.url(:small) %>
            </div>
            <div class="user-name">
              <%= friend.name.html_safe %>
            </div>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="middle-content">
    <% unless @messages.empty? %>
      <% sender_profile = @sender.profile %>
      <% recipient_profile = @recipient.profile %>
      <% @messages.each do |message| %>
        <div class="message">
          <% if message.owner_id == @sender.id %>
            <%= image_tag sender_profile.img.url(:small) %>
          <% elsif message.owner_id == @recipient.id %>
            <%= image_tag recipient_profile.img.url(:small) %>
          <% end %>
          <%= message.body.html_safe %>
        </div>
      <% end %>
    <% end %>
    <%= render partial: "messages/form", locals: { recipient_id: @recipient.id } %>
  </div>
</div>