<div class="about-content group">
  <% profile = user.profile %>
  <div class="about-img">
    <%= image_tag profile.profile_img.url(:big) %>
  </div>
  <div class="about-list">
    <ul>
      <li><h2><%= user.name %></h2></li>
      <% unless profile.location.nil? %>
        <li><strong>Location:</strong> &nbsp;<%= profile.location %></li>
      <% end %>
      <% unless profile.employer.nil? %>
        <li><strong>Employer:</strong> &nbsp;<%= profile.employer %></li>
      <% end %>
      <% unless profile.school.nil? %>
        <li><strong>School:</strong> &nbsp;<%= profile.school %></li>
      <% end %>
      <% if params[:user_id].to_i == current_user.id %>
      <li><a class="edit-profile-link" href="<%= edit_user_profile_url(current_user) %>" data-remote="true">Edit Your Profile</a></li>
      <% end %>
    </ul>
    <div class="about-links">
      <a href="<%= user_albums_url(user) %>" data-remote="true">Photos</a>
      <% num_friends = user.friends.count %>
      <% unless num_friends == 0 %>
        <a href="<%= user_friends_url(user) %>" data-remote="true"><%= pluralize(num_friends, "Friend") %></a>
      <% end %>
    </div>
  </div>
</div>
<div class="status-list">
  <%= render partial: "statuses/form", locals: { status: @status } %>
</div>
<div class="wall-posts">
  <% user.wall_posts.each do |post| %>
    <%= render partial: "statuses/show", locals: { status: post }%>
  <% end %>
</div>