<% owner = User.find(status.owner_id) %>
<% profile = owner.profile %>
<div class="status">
  <div class="status-data group">
    <div class="status-user-img">
      <%= image_tag profile.profile_img.url(:small) %>
    </div>
    <div class="status-content">
      <a href="<%= user_profile_url(owner) %>">
        <%= owner.name %>
      </a>
      <% unless status.owner_id == status.wall_user_id %>
        <% about_user = User.find(status.wall_user_id) %>
        &nbsp;>>&nbsp;
        <a href="<%= user_profile_url(about_user) %>">
          <%= about_user.name %>
        </a>
      <% end %>

      <div class="status-body">
        <%= status.body %>
      </div>
      <div class="like-links group">
        <%= render partial: "likes/show", locals: {object: status, object_type: "Status"} %>
      </div>
    </div>
    <br>
  </div>
  <div class="comment-data">
    <h3>Comments</h3>
    <div class="comment-list">
      <% status.comments.each do |comment| %>
        <%= render partial: "comments/show", locals: { comment: comment } %>
        <br>
      <% end %>
    </div>
    <%= render partial: "comments/form", locals: { object: status } %>
  </div>
</div>