<% friends = current_user.friends %>
<% pending_request_friends = current_user.pending_request_friends %>
<% pending_friends = current_user.pending_friends %>
<% @users.reject! { |user| friends.include?(user) || pending_request_friends.include?(user) } %>

<header>
  <div class="header-wrapper">
    <div class="logo"></div>
    <%= render partial: "root/header", locals: { user: current_user } %>
  </div>
</header>

<div class="content">
  <div class="left-sidebar">
  </div>

  <div class="middle-content">
    <div class="user-list">
      <% unless friends.empty? %>
        <h3>Friends</h3>
        <br>
        <% friends.each do |friend| %>
          <% friendship = Friendship.find_pair(current_user, friend) %>
          <br>
          <%= friend.name %>
          <br>
          <%= button_to "Unfriend", friendship_url(friendship), method: "delete" %>
        <% end %>
        <br>
      <% end %>

      <% unless @users.empty? %>
        <h3>Users</h3>
        <% @users.each do |user| %>
          <br>
          <%= user.name %>
          <br>
          <% if pending_friends.include?(user) %>
            <% friendship = Friendship.find_pair(current_user, user) %>
            <%= button_to "Pending: Cancel Request", friendship_url(friendship), method: "delete" %>
          <% else %>
            <%= button_to "Friend Request", user_friendship_url(user), method: "post" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="right-sidebar">
  </div>
</div>