<div class="album-form">
  <form action="<%= albums_url %>" method="post">
    <input
      name="authenticity_token"
      type="hidden"
      value="<%= form_authenticity_token %>">
    <label>Album Title:
    <br>
    <input type="text" name="album[title]">
    </label>
    <br>
    <h3>Add Photos to Album:</h3>
    <br>
    <% photos.each do |photo| %>
      <input type="checkbox" name="album[photo_ids][]" id="<%= 'photo-#{photo.id}' %>" value="<%= photo.id %>">
      <label for="<%= 'photo-#{photo.id}' %>">
        <figure>
          <% if photo.caption %>
            <figcaption><%= photo.caption %></figcaption>
          <% end %>
          <%= image_tag photo.img.url(:medium) %>
        </figure>
    <% end %>
    <input type="submit" value="Create Album">
  </form>
</div>