<header>
  <div class="header-wrapper">
    <div class="logo">OCULAR</div>
    <%= render partial: "sessions/new" %>
  </div>
</header>

<div class="main">
  <div class="about">
    <h1>OCULAR</h1>
    <p>Is a facebook clone made by Brandon Danker. It has the following features:
    </p>
    <ul>
      <li>Sign Up and Sign In</li>
      <li>Newsfeed</li>
      <li>Profile Page with a Wall</li>
      <li>Albums and Photos</li>
      <li>Tagging Friends in Photos</li>
      <li>Notifications</li>
      <li>Messages</li>
    </ul>

    <form action="<%= session_url %>" method="post">
      <input
         name="authenticity_token"
         type="hidden"
         value="<%= form_authenticity_token %>">
      <input type="hidden" name="user[email]" value="bd@gmail.com">
      <input type="hidden" name="user[password]" value="asdfgh">
      <input class="signin-button" style="width: auto" type="submit" value="Sign In As Me!">
    </form>



    <% if flash[:errors] && !flash[:errors].empty? %>
    <br>
    <ul>
      <% flash[:errors].each do |error| %>
      <li class="error"><%= error %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
  <div class="signup">
    <%= render partial: "users/new" %>
  </div>
</div>